.problemeContainer{
    color: white;
    margin-top: 3%;
    background-color: #292e34;
    min-height: 750px;
    max-height: 1000px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    --bs-gutter-x: 0rem !important; 
}

.divCategorie{
    margin-top: 30px;
    max-height: 300px;
    background-color: #171a1c;
    width: 90%;
    border-radius:4px;
}

.problemeSubcategorii{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    cursor: pointer; 
}
.problemeSubcategorii h5{
    font-family: Cormorant;
}

.titluDiv h4{
    font-family: "Montserrat ExtraBold", sans-serif;
}

.titluDiv{
    background-color: #212529;
    height: 40px;
}

.corp{
    justify-content: space-around;
    display: flex;
    width: 100%;
    height: 90%;
}

.contineProbleme{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 46%;
    height: 100%;
    padding-bottom: 25px;
}

.filterDiv{
    border-left: 3px solid #171a1c;
    border-top: 3px solid #171a1c;
    background-color: #212529;
    margin-left: auto;
    min-height: 692px;
    max-height: 900px;
    min-width: 200px;
    max-width: 375px;
}

.filtrareText{
    padding: 25px;
    max-width: 175px;
    min-width: 150px;
}
.filtrareText h1{
    font-family: "Montserrat ExtraBold", sans-serif;
}

.inputDivFilter{
    margin-left: 25px;
    max-width: 325px;
}

@keyframes slideFromRight {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    50%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform:translateX(0%);
        opacity: 1;
    }
}

.PosteazaOProblemaDivPrincipal{
    margin: 0 auto;
    margin-top: 20px;
    width: 600px;
    height: 650px;
    border: 1px solid #ffffff;
    animation: slideFromRight 1s ease-in-out;
}

.bottomItems{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat ExtraBold", sans-serif;
    
}

.topItems{
    margin: 0 auto;
    width: 90%;
}

.topItems input{
    width: 100%;
    padding:5px 5px;
    margin: 3px 0px 20px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)!important;
}

.topItems input:focus{
    outline-color: #fbecec  !important;
    outline-style: solid;
    outline-width: 1px;
} 

.topItems textarea{
    width: 100%;
    padding:5px 5px;
    margin: 3px 0px 20px;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    height: 75px;
    max-height: 75px;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)!important;
}

.topItems textarea:focus{
    outline-color: #fbecec  !important;
    outline-style: solid;
    outline-width: 1px;
}

.topItems select:focus{
    outline-color: #fbecec  !important;
    outline-style: solid;
    outline-width: 1px;
} 
.topItems select{
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)!important;
}

.pPosteaza{
    font-size: 1.6rem;
    font-family: "Montserrat ExtraBold", sans-serif;
}

.pStep{
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    font-family: "Montserrat ExtraBold", sans-serif;
}




.success-animation { margin:100px auto;}

.checkmark {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;  
    margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #292E34;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.7s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}


@media (min-width: 576px) and (max-width: 768px) {
    .PosteazaOProblemaDivPrincipal{
        width: 500px;
    }
}

@media  (min-width: 400px) and (max-width: 575px) {
    .PosteazaOProblemaDivPrincipal{
        width: 90%;
    }
    .pStep{
        height: 20px;
        font-size: 0.7rem;
        font-family: "Montserrat ExtraBold", sans-serif;
    }
    .pStep p:nth-child(2){
        width: 60px !important;
    }
    .pPosteaza{
        font-size: 1.5rem;
    }
    .PosteazaOProblemaDivPrincipal label{
        font-size: 0.8rem;
    }
}

@media  (max-width: 400px){
    .PosteazaOProblemaDivPrincipal{
        width: 90%;
    }
    .pStep{
        height: 20px;
        font-size: 0.6rem;
        font-family: "Montserrat ExtraBold", sans-serif;
    }
    .pStep p:nth-child(2){
        width: 65px !important;
    }
    .pPosteaza{
        font-size: 1.1rem;
    }
    .PosteazaOProblemaDivPrincipal label{
        font-size: 0.8rem;
    }
    .pPosteazadiv{
        width: 240px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .problemeSubcategorii h5{
        font-size: 0.85rem;
        padding: 7px !important;
    }
    .problemeSubcategorii p{
        font-size: 0.7rem !important;
        padding-right: 5px !important;
        padding-top: 30px !important;
    }
}

@media (min-width: 575px) and (max-width: 767px){
    .problemeSubcategorii h5{
        font-size: 0.8rem;
        padding: 5px !important;
        width: 120px !important; 
    }
    .problemeSubcategorii p{
        font-size: 0.65rem !important;
        padding-right: 5px !important;
        padding-top: 30px !important;
    }
    .titluDiv h4{
        font-size: 1.1rem;
        padding: 10px !important;
    }
}

@media  (min-width: 400px) and (max-width: 575px) {
    .contineProbleme{
        width: 48%;
    }
    .problemeSubcategorii h5{
        font-size: 0.75rem;
        padding: 5px !important;
        width: 90px !important; 
    }
    .problemeSubcategorii p{
        font-size: 0.55rem !important;
        padding-right: 5px !important;
        padding-top: 30px !important;
    }
    .titluDiv h4{
        font-size: 1.1rem;
        padding: 10px !important;
    }
}

@media  (max-width: 400px){
    .contineProbleme{
        width: 48%;
    }
    .divCategorie {
        max-height: 400px;
    }
    .problemeSubcategorii{
        height: 70px;
        display: flex;
        flex-direction: column;
    }
    .problemeSubcategorii h5{
        font-size: 0.7rem;
        padding: 7px !important;
        max-height: 25px !important;
        width: 100% !important; 
    }
    .problemeSubcategorii p{
        width: 100%;
        font-size: 0.6rem !important;
        padding-top: 15px !important;
        text-align: right;
    }
    .titluDiv h4{
        font-size: 0.8rem;
        padding: 10px !important;
    }
}

@media  (min-width: 768px) and (max-width: 1024px){
    .filterDiv{
        max-width: 250px;
    }
    .filtrareText h2{
        font-size: 1.3rem;
    }
    .inputDivFilter{
        margin-left: 10px;
        max-width: 200px
    }
    .inputDivFilter h5{
        font-size: 1rem;
    }
}

@media  (min-width: 500px) and (max-width: 767px){
    .filterDiv{
        max-width: 175px;
    }
    .filtrareText h2{
        font-size: 1.1rem;
    }
    .inputDivFilter{
        margin-left: 10px;
        max-width: 150px
    }
    .inputDivFilter h5{
        font-size: 0.8rem;
    }
}

@media  (min-width: 1px) and (max-width: 499px){
    .filterDiv{
        min-width: 75px;
        max-width: 150px;
    }
    .filtrareText{
        margin-left: -10px !important;
    }
    .filtrareText h2{
        font-size: 0.9rem;
    }
    .inputDivFilter{
        margin-left: 0px;
        max-width: 150px
    }
    .inputDivFilter h5{
        font-size: 0.7rem;
    }
    .inputDivFilter button{
        width: 60px;
        height: 30px;
        font-size: 0.8rem;
        padding: 0px;
    }
}


.error {
    margin-top: 20px;
    margin-left: 25px;
    position: absolute;
    max-width: 300px;
    max-height: 650px;
    padding: 10px;
    background: #1d1818;
    border: 1px solid #e7195a;
    color: #e7195a;
    border-radius: 4px;
}

@media (min-width: 1200px) and (max-width: 1399px){
    .error {
        max-width: 225px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .error {
        margin-left: 5px;
        max-width: 170px;
    }
}

@media  (min-width: 769px) and (max-width: 991px){
    .error {
        margin-top: -125px;
        margin-left: 60px;
        max-width: 600px;
        max-height: 150px;
        min-width: 600px;
    }
}

@media  (width: 768px){
    .error {
        margin-top: -125px;
        margin-left: 110px;
        min-width: 500px;
        max-width: 500px;
        max-height: 150px;
    }
}

@media  (min-width: 576px) and (max-width: 767px){
    .error {
        margin-top: -125px;
        margin-left: 0px;
        max-width: 550px;
        max-height: 175px;
        min-width: 540px;
    }
}

@media  (max-width: 575px){
    .error {
        margin-top: -125px;
        margin-left: 0px;
        max-width: 100%;
        max-height: 175px;
        min-width: 90%;
    }
}