.registerDiv{
    margin: 0 auto;
    width: 55%;
    margin-top: 1rem;
    margin-left: 0.9rem;
    animation: fadeIn 1s ease-in-out;
}

.registerInput input{
    width: 450px !important;
    height: 50px !important;
}

.registerInput label{
    font-size: 0.9rem; 
}
.registerInText{
    margin-top: 1rem !important;
    width: 400px;
}
.registerInText p{
    width: 400px;
}

.register-control {
    padding: 1rem 0.75rem;
    margin-top: 3px;
}

.loginIcons{
    display: flex;
    justify-content: center;
}
.altRegisterText{
    margin-top: 10px !important;
    width: 200px;
}
.AccountDataDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 98%;
    height: 300px;
    margin-top: 20px;
}

.AccountDataDiv input{
    transition: all 0.5s ease-in-out;
}

.divForRegister{
    margin-top: 20px;
}

.AccountDataDiv input:focus {
    outline-color: #1a1a1a  !important;
    outline-style: solid;
    outline-width: 0.3rem;
}

@media (min-width: 1281px) and (max-width: 1450px) {

    .AccountDataDiv{
        margin-top: 30px;
        height:250px;
    }

    .registerInput input{
        width: 450px !important;
        height: 50px !important;
    }
    
    .registerInput label{
        font-size: 0.8rem;
        margin-top: -3px;
    }

    .registerTextSignInText{
        font-size:1.8rem;
    }
    .altRegisterText{
        margin-top: 20px !important;
    }
    .divForRegister{
        margin-top: 20px !important;
    }
    .registerInText{
        margin-top: 0px !important;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .registerDiv{
        margin: 0 auto;
        width: 90%;
    }

    .AccountDataDiv{
        margin-top: 10px;
        height:250px;
    }
    .mb-3 {
        margin-bottom: 0rem!important;
    }

    .registerInput input{
        width: 380px !important;
        height: 40px !important;
    }
    
    .registerInput label{
        font-size: 0.8rem;
        margin-top: -3px;
    }

    .registerTextSignInText{
        font-size:1.5rem;
    }
    .altRegisterText{
        margin-top: 10px !important;
    }
    .divForRegister{
        margin-top: 20px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .registerDiv{
        margin: 0 auto;
        width: 90%;
    }

    .AccountDataDiv{
        height:280px;
    }

    .registerInput input{
        width: 500px !important;
        height: 50px !important;
    }
    
    .registerInput label{
        font-size: 0.9rem;
    }

    .registerTextSignInText{
        font-size:2rem;
    }
    .altRegisterText{
        margin-top: 20px !important;
    }
    .divForRegister{
        margin-top: 50px !important;
    }
}


@media (min-width: 580px) and (max-width: 767px) {
    .registerDiv{
        margin: 0 auto;
        width: 90%;
    }

    .AccountDataDiv{
        height:250px;
    }

    .registerInput input{
        width: 300px !important;
        height: 40px !important;
    }
    
    .registerInput label{
        font-size: 0.8rem;
        margin-top: -3px; 
    }

    .registerTextSignInText{
        font-size:1.8rem;
    }
    .altRegisterText{
        margin-top: 20px !important;
    }
    .divForRegister{
        margin-top: 50px !important;
    }
}

@media (min-width: 481px) and (max-width: 580px) {
    .registerDiv{
        margin: 0 auto;
        width: 90%;
    }

    .AccountDataDiv{
        height:250px;
    }

    .registerInput input{
        width: 250px !important;
        height: 40px !important;
    }
    
    .registerInput label{
        font-size: 0.8rem;
        margin-top: -3px; 
    }

    .registerInText{
        width: 300px;
    }
    .registerTextSignInText{
        font-size:1.5rem;
    }
    .altRegisterText{
        margin-top: 20px !important;
    }
    .divForRegister{
        margin-top: 50px !important;
    }
}

@media  (max-width: 480px) {
    .registerDiv{
        margin: 0 auto;
        width: 90%;
    }

    .AccountDataDiv{
        height:250px;
    }

    .registerInput input{
        width: 230px !important;
        height: 40px !important;
    }
    
    .registerInput label{
        font-size: 0.8rem;
        margin-top: -3px; 
    }

    .registerInText{
        width: 280px;
    }
    .registerTextSignInText{
        font-size:1.4rem;
    }
    .altRegisterText{
        margin-top: 20px !important;
    }
    .divForRegister{
        margin-top: 50px !important;
    } 
}
