body{
    padding: 0;
    margin: 0;
    background-color: white;
    animation: fadeIn 1s ease-in-out;
}


/* Contine informatii + login/register */
.divPrincipal{
    margin-left: 37vw;
    margin-top: 15vh;
    border-radius: 0.9rem;
    display: flex;
    background-color: #313131;
    width: 60vw;
    height: 70vh;
}
    /* Carusel cu informatii */
    .carousel{
        margin: 1vh;
        display: flex;
        width: 40%;
        height: calc(100% - 2vh);
        background-color:darkslategray;
        border-radius: 0.9rem;
    }

    /* Reguster/Login Forms */
    .signUpItems{
        margin: 0 auto;
        width: 50%;
    }
    .inputsDiv{
        margin-top: 35%;
        margin-left: 5%;
        justify-content: center;
        gap: 2vh;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .inputsDiv div{
        position: relative;
    }
    .inputsDiv input{
        transition: all 0.5s ease-in-out;
        outline-style: groove;
        width: 100%;
    }
    .inputsDiv input:focus {
        outline-color: blue;
        outline-width: 0.2rem;
        outline-style: groove;
    }
    .signLabel{
        position: absolute;
        transition: all 1s ease-in-out;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
            transform: translateX(-200%);
        }
        to{
            opacity: 1;
            transform: translateX(0%);
        }
    }
    




