body{
    padding: 0;
    margin: 0;
    background-color: white;
    animation: slideIn 1s ease-in-out;
}


/* Contine informatii + login/register */
.divPrincipal{
    margin-left: 37vw;
    margin-top: 15vh;
    border-radius: 0.9rem;
    display: flex;
    background-color: #313131;
    width: 60vw;
    height: 70vh;
}
    /* Carusel cu informatii */
    .carousel{
        margin: 1vh;
        display: flex;
        width: 40%;
        height: calc(100% - 2vh);
        background-color:darkslategray;
        border-radius: 0.9rem;
    }

    /* Register/Login Forms */
    .signUpItems{
        margin: 0 auto;
        width: 60%;
    }
    .inputsDiv{
        animation: fadeIn 2s ease-in-out;
        margin-top: 35%;
        margin-left: 10%;
        justify-content: center;
        gap: 2vh;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .inputsDiv div{
        position: relative;
    }
    .inputsDiv input{
        transition: all 0.5s ease-in-out;
        outline-style: groove;
        width: 100%;
    }
    .inputsDiv input:focus {
        outline-color: blue;
        outline-width: 0.2rem;
        outline-style: groove;
    }
    .inputSVGS{
        animation: fadeIn 1.7s ease-in-out;
        margin-top: 12.4%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        justify-content: space-between;
        position: absolute;
        height: 26.4%;
        width: 3.5%;
    }


    @keyframes slideIn { /* Animatie ptr intrarea elementelor in body*/
        from{
            transform: translateX(-200%);
            opacity: 0;
        }to{
            transform: translateX(0%);
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }50% {
            opacity: 0;
        }100%{
            opacity: 1;
        }
    }

/* Added a font */
@font-face {
    font-family: "SuperCorn";
    src: url(/Fonts/Super\ Corn.ttf);
}

/* Carousel buttons - div */
.carouselButtons{
    margin: 0 auto;
    margin-top: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 50%;
    border-radius: 1rem;
}

.carouselButtons button{
    width: 1rem;
    height: 1rem;
    background-color: rgb(40, 114, 114);
    transform: scale(0.5);
    border-radius: 50%;
    border: none;
}



    





