/* Leaderboard */

.leaderboard{
    width: 550px;
    height: 475px;
    grid-area: 1 / 1 / 2 / 2; /* Specifică aceeași zonă grid pentru a suprapune */
    margin-left: auto;
    margin-right: 15vw;
    margin-top: 100px;
 

    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(255, 255, 255, 0.43);
}

.leaderboard-container{
    width: 200px;
    height: 80px;
    margin: 0 auto;
    margin-top:10px;
}
.leaderboard-container h1{
    color:white;
    font-size: 2.2rem;
}

.topUsersTop{
    display: flex;
    margin: 0 auto;
    width: 86%;
    height:400px;
    justify-content: space-between;
}

.mostProblems{
    gap:20px;
    display:flex;
    flex-direction: column;
    width: 225px;
    height:390px;
}

.mostProblemsDivForContent{
    gap:20px;
    display:flex;
    flex-direction: column;
    width: 225px;
    height:275px;
    justify-content: center;


    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(255, 255, 255, 0.43);
}






.mostProblemsElmDiv{
    display: flex;
    flex-direction: row;
    width: 225px;
    height: 55px;
}
.topNumber{
    padding-left:5px;
    padding-right:20px;
    margin-top:15px;
    width: 20px;
    height: 25px;
}

.showMore{
    font-size: 0.8rem !important;
}

.showMore2{
    font-size: 0.8rem !important;
}

.mostProblemsElmDiv img{
    width: 50px;
    height: 50px;
}

.registerDate{
    gap:20px;
    display:flex;
    flex-direction: column;
    width: 225px;
    height:390px;
}

.mostProblems p{
    font-family: "Super Corn";
    font-size:1.1rem;
    color:white;
}
.leaderboardTopText {
    margin: 0 auto;
}

.registerDate p{
    font-family: "Super Corn";
    font-size: 1.1rem;
    color:white;
}

.userLeaderboardData{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
}

.userLeaderboardDataName{
    font-family: "Super Corn";
    font-size: 0.9rem !important;
    margin-bottom: 0rem;
}

.userLeaderboardDataData{
    font-family: "Super Corn";
    font-size: 0.7rem !important;
    margin-bottom: 0rem;
}

.leaderboardSVG{
    margin-top:20px !important;
    margin: 0 auto;
    margin-right: 20px !important;
    cursor: pointer;
}

.simplebar-content{
    margin-top: 0px !important;
    gap:20px !important;
    display:flex !important;
    flex-direction: column !important;
    width: 225px !important;
    height:270px;
    justify-content: center !important;
}

.simplebarReHeight{
    height: 800px !important;
}

.simplebarReHeight2{
    height: 800px !important;
}

.simplebar-content-2{
    margin-top: 0px !important;
    gap:20px !important;
    display:flex !important;
    flex-direction: column !important;
    width: 225px !important;
    height:270px;
    justify-content: center !important;
}

/* TODO ADD PROFILE VIEW */


