/* Leaderboard */

.leaderboard{
    width: 550px;
    height: 475px;
    grid-area: 1 / 1 / 2 / 2; /* Specifică aceeași zonă grid pentru a suprapune */
    margin-left: auto;
    margin-right: 15vw;
    margin-top: 100px;


    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(255, 255, 255, 0.43);
}

.leaderboard-container{
    width: 200px;
    height: 80px;
    margin: 0 auto;
    margin-top:10px;
}
.leaderboard-container h1{
    color:white;
    font-size: 2.2rem;
}

.topUsersTop{
    display: flex;
    margin: 0 auto;
    width: 86%;
    height:400px;
    justify-content: space-between;
}

.mostProblems{
    gap:20px;
    display:flex;
    flex-direction: column;
    width: 225px;
    height:390px;
}

.mostProblemsDivForContent{
    gap:20px;
    display:flex;
    flex-direction: column;
    width: 225px;
    height:275px;
    justify-content: center;
    overflow-y:hidden;
    overflow-x:hidden;

    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(255, 255, 255, 0.43);
}

/* Add this to your existing CSS */

body {
    scrollbar-width: thin; /* "thin" or "auto" */
}

body::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.11); /* Set the color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Optional: Rounded corners for the thumb */
}


.mostProblemsElmDiv{
    display: flex;
    flex-direction: row;
    width: 225px;
    height: 55px;
}
.topNumber{
    padding-left:5px;
    padding-right:20px;
    margin-top:15px;
    width: 20px;
    height: 25px;
}

.showMore{
    font-size: 0.8rem !important;
}

.showMore2{
    font-size: 0.8rem !important;
}

.mostProblemsElmDiv img{
    width: 50px;
    height: 50px;
}

.registerDate{
    gap:20px;
    display:flex;
    flex-direction: column;
    width: 225px;
    height:390px;
}

.mostProblems p{
    font-family: "Super Corn";
    font-size:1.1rem;
    color:white;
}
.leaderboardTopText {
    margin: 0 auto;
}

.registerDate p{
    font-family: "Super Corn";
    font-size: 1.1rem;
    color:white;
}

.userLeaderboardData{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
}

.userLeaderboardDataName{
    font-family: "Super Corn";
    font-size: 0.9rem !important;
    margin-bottom: 0rem;
}

.userLeaderboardDataData{
    font-family: "Super Corn";
    font-size: 0.7rem !important;
    margin-bottom: 0rem;
}

.leaderboardSVG{
    margin-top:20px !important;
    margin: 0 auto;
    margin-right: 20px !important;
    cursor: pointer;
}

.overflowhidden{
    overflow-y:scroll;
}