body{
    padding: 0;
    margin: 0;
    background: #44A08D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093637, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #093637, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: slideIn 1s ease-in-out;
    overflow-y: hidden;
}


/* Contine informatii + login/register */
.divPrincipal{
    overflow-y: hidden;
    animation: slideIn 1s ease-in-out;
    margin: 0 auto;
    /*margin-top: calc(100vh - 43.75rem);*/
    margin-top: 10vh;
    border-radius: 0.9rem;
    display: none;
    background-color: #313131;
    width: 75rem;
    height: 43.75rem;
}
    /* Carusel cu informatii */


    .textSignIn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 15rem;
        height: 6rem;
    }
        .textSignInText{
            color: white;
            font-size: 2.5rem;
            font-family: "Montserrat ExtraBold", sans-serif;
        }

    /* Register/Login Forms */
    .signUpItems{
        margin: 0 auto;
        width: 55%;
        margin-top: 3.125rem;
        margin-left: 0.9rem;
    }
    .inputsDiv{
        animation: fadeIn 2s ease-in-out;
        margin-top: calc(13.75rem - 6.25rem);
        margin-left: 10%;
        justify-content: center;
        gap: 1.25rem;
        height: 16.875rem;
        width: 33.6rem;
        display: flex;
        flex-direction: column;
    }
    .inputsDiv div{
        position: relative;
    }
    .inputsDiv input{
        transition: all 0.5s ease-in-out;
        width: 100%;
    }
    .inputsDiv input:focus {
        outline-color: darkslategrey  !important;
        outline-style: solid;
        outline-width: 0.3rem;
    }
    .inputSVGS{
        animation: fadeIn 1.7s ease-in-out;
        margin-top: calc(14rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        height: 15rem;
        width: 4.2rem;
    }
    .divForSubmit{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        height: 9.375rem;
        width: 33.6rem;
        margin-left: 10%;
        margin-top: -0.625rem;
    }
    .divForSubmit button{
        animation: slideFromBottom 1s ease-in-out;
        margin-top: 0.625rem;
        width: 6rem;
        height: 3rem;
        background-color: darkslategrey;
        border-color: darkslategrey;
        font-family: "Montserrat ExtraBold", sans-serif;
    }
    .divForSubmit button:hover{
        background-color: rgb(31, 48, 48);
        border-color: rgb(31, 48, 48);
    }
        .divForSubmit span{
            animation: fadeIn 1.7s ease-in-out;
            color:white;
        }
            .divForSubmit span a{
                color: rgb(133, 179, 179);
            }



    @keyframes slideIn { /* Animatie ptr intrarea elementelor in body*/
        from{
            transform: translateX(-200%);
            opacity: 0;
        }to{
            transform: translateX(0%);
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }50% {
            opacity: 0;
        }100%{
            opacity: 1;
        }
    }

    @keyframes slideFromBottom {
        0%{
            transform: translateY(200%);
        }
        50%{
            transform: translateY(200%);
        }
        100%{
            transform: translateY(0%);
        }
    }
    @keyframes slideFromTop {
        0%{
            transform: translateY(-1000%);
        }
        50%{
            transform: translateY(-1000%);
        }
        100%{
            transform:translateY(0%);
        }
    }
    @keyframes slideFromRight {
        0%{
            transform: translateX(1000%);
            opacity: 0;
        }
        50%{
            transform: translateX(1000%);
            opacity: 0;
        }
        100%{
            transform:translateX(0%);
            opacity: 1;
        }
    }
    @keyframes slideFromLeft {
        0%{
            transform: translateX(-1000%);
            opacity: 0;
        }
        50%{
            transform: translateX(-1000%);
            opacity: 0;
        }
        100%{
            transform:translateX(0%);                
            opacity: 1;
            }
    }

/* Added a font */
@font-face {
    font-family: "SuperCorn";
    src: url(/Fonts/Super\ Corn.Night1337Bluettf);
}
@font-face {
    font-family: "Montserrat ExtraBold";
    src: url(/Fonts/Montserrat-ExtraBold.Night1337Blueotf);
}
@font-face {
    font-family: "RobotoThin";
    src: url(/Fonts/Roboto-Thin.Night1337Bluettf);
}
@font-face {
    font-family: "Poppins";
    src: url(/Fonts/Poppins-Thin.Night1337Blueotf);
}
@font-face {
    font-family: "StormGust";
    src: url(/Fonts/Storm\ Gust.Night1337Bluewoff);
}

@font-face {
    font-family: "Jogan";
    src: url(/Fonts/JoganSoft-Regular.ttf);
}

@font-face {
    font-family: "Corrupted";
    src: url(/Fonts/Corrupted\ File.ttf)
}

/* carusel cu informatii */
.carousel{
    margin: 0.625rem;
    margin-right: 0vh !important;
    width: 45%;
    height: calc(100% - 1.25rem);
    background-color:darkslategray;
    border-radius: 0.9rem;
}

/* Carousel buttons - div */
.carouselButtons{
    margin: 0 auto;
    margin-top: 0.188rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.875rem;
    width: 12rem;
    border-radius: 1rem;
}

.carouselButtons button{
    width: 1rem;
    height: 1rem;
    background-color: rgb(133, 179, 179);
    transform: scale(0.5);
    border-radius: 50%;
    border: none;
}

/* Comentarii */

.comments{
    display: flex;
    flex-direction: column;
    border-radius: 0.9rem;
    margin: 0 auto;
    background-color:#313131;
    width: 27.4rem;
    height: 11rem;
}

/* fotografie + nume + ocupatie*/
.personData{
    display: flex;
    flex-direction: row;
    width: 24rem;
    height: 6.25rem;   
    animation: slideFromBottom 1s ease-in-out;
}
/* Fotografie profil */
    .personDataPhoto{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.5rem;
        height: 5.5rem;
    }

    .personDataPhoto img{
        width: 4rem;
        height: 4rem;
    }

/* Nume + ocupatie */
    .personDataText{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .personDataText span:nth-child(1){
        font-size: 1.2rem;
        font-family: "Montserrat";
        color:white;
    }

    .personDataText span:nth-child(2){
        font-size: 0.75rem;
        font-family: 'Open Sans', sans-serif;
        color:white;
    }

/* comentariul lu yang */

    .comentariu{
        display: flex;
        margin-left: 1.2rem;
        width: 26.4rem;
        height: 6.5rem;
        align-items: center;
    }
    .comentariu p{
        color: white;
        padding-top: 0.625rem;
        padding-left: 0rem;
        padding-right: 1.2rem;
        font-size: 0.9rem;
        font-family: 'Open Sans', sans-serif;
    }

/* numele care ii deasupra comentariilor */

.siteNameText p{
    font-family: "StormGust";
    font-size: 1rem;
    padding-top: 1.25rem;
    padding-left: 2.7rem;
    color: rgb(133, 179, 179);
}


.motive{
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    width: 26.4rem;
    height: 12rem;
    margin-left: 2.7rem;
}
        .motop{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 2rem;
            color: white;
        }
        .motoContinuare {
            margin-top: -2vh;
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
            color: white;
        }
            .programmingLanguagesIcons{
                margin-top: 0.625rem;
                margin-left: 2.5rem;
                width: 27.4rem;
                height: 9.375rem;
            }
            .webProgrammingLanguagesIcons{
                display: flex;
                justify-content: space-between;
            }
            .otherProgrammingLanguagesIcons{
                display: flex;
                justify-content: space-between;
            }
            .jsIcon, .htmlIcon, .cssIcon{
                animation: slideFromLeft 1.2s ease-in-out;
            }
            .cppIcon, .csIcon, .cIcon{
                animation: slideFromLeft 1.4s ease-in-out;
            }

            .javaIcon, .pythonIcon, .swiftIcon{
                animation: slideFromRight 1.2s ease-in-out;
            }
            .reactIcon, .vueIcon, .bootstrapIcon{
                animation: slideFromRight 1.4s ease-in-out;
            }
            .mongoDBIcon{
                animation: slideFromTop 1s ease-in-out;
            }
            .mySqlIcon{
                animation: slideFromBottom 1s ease-in-out;
            }

@media (min-width: 1281px) and (max-width: 1450px){
    .divPrincipal{
        margin: 0 auto;
        /*margin-top: calc(100vh - 43.75rem);*/
        margin-top: 15vh;
        border-radius: 0.9rem;
        height: 40rem;
        width: 70rem;
    }
    .signUpItems{
        width: 55%;
        margin-top: 3.125rem;
        margin-left: 0.9rem;
    }
    .inputsDiv{
        margin-top: calc(13.75rem - 9.25rem);
        margin-left: 10%;  
        gap: 1.25rem;
        height: 16.875rem;
        width: 29rem;
    }
    .inputSVGS{
        margin-top: calc(11rem);
        height: 15rem;
        width: 3rem;
    }
    .divForSubmit{
        height: 9.375rem;
        width: 29rem;
        margin-left: 10%;
        margin-top: -0.925rem;
    }
    .divForSubmit button{
        margin-top: 0.625rem;
        width: 5rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }
        .divForSubmit span{
            font-size: 0.8rem;
        }

    .carousel{
        margin: 0.5rem;
        width: 45%;
        height: calc(100% - 0.9rem);
        border-radius: 0.9rem;
    }
    .motive{
        margin-top: 2rem;
        width: 26.4rem;
        height: 12rem;
        margin-left: 2.7rem;
    }
            .motop{
                font-size: 2rem;
            }
            .motoContinuare {
                margin-top: -2vh;
                font-size: 1rem;
            }
                .programmingLanguagesIcons{
                    margin-top: 0.425rem;
                    margin-left: 2.5rem;
                    width: 25.4rem;
                    height: 8.375rem;
                }
                .programmingLanguagesIcons svg{
                    width: 45px;
                    height: 45px;
                }
                .comments{
                    border-radius: 0.9rem;
                    margin: 0 auto;
                    width: 25rem;
                    height: 10rem;
                }
                .personData{
                    width: 24rem;
                    height: 6.25rem;   
                }
                /* Fotografie profil */
                    .personDataPhoto{
                        margin-left: 0.35rem;
                        width: 5rem;
                        height: 4rem;
                    }
                
                    .personDataPhoto img{
                        width: 3.7rem;
                        height: 3.7rem;
                    }
                
                
                    .personDataText span:nth-child(1){
                        font-size: 1.2rem;
                    }
                
                    .personDataText span:nth-child(2){
                        font-size: 0.75rem;
                    }
                
                /* comentariul lu yang */
                
                    .comentariu{
                        margin-left: 1.2rem;
                        width: 22.4rem;
                        height: 7.5rem;
                    }
                    .comentariu p{
                        padding-top: 0.325rem;
                        padding-left: 0rem;
                        padding-right: 1.2rem;
                        font-size: 0.9rem;
                    }
                
                /* numele care ii deasupra comentariilor */
                
                .siteNameText p{
                    font-size: 1rem;
                    padding-top: 1.25rem;
                    padding-left: 2.7rem;
                }
}
 @media (min-width: 1025px) and (max-width: 1280px){
    .divPrincipal{
        margin: 0 auto;
        /*margin-top: calc(100vh - 43.75rem);*/
        margin-top: 15vh;
        border-radius: 0.9rem;
        height: 35rem;
        width: 60rem;
    }
    .signUpItems{
        width: 55%;
        margin-top: 3.125rem;
        margin-left: 0.9rem;
    }
    .inputsDiv{
        margin-top: calc(13.75rem - 9.25rem);
        margin-left: 10%;  
        gap: 1.25rem;
        height: 16.875rem;
        width: 25rem;
    }
    .inputsDiv input{
        height: 3rem !important;
    }
    .inputsDiv label{
        margin-top: -0.2rem;
        font-size: 0.8rem;
    }
    .textSignIn{
        width: 15rem;
        height: 4rem;
    }
        .textSignInText{
            font-size: 2rem;
        }
    .inputSVGS{
        margin-top: calc(10rem);
        height: 13rem;
        width: 3rem;
    }
    .inputSVGS svg{
        width: 40px;
        height: 40px;
    }
    .divForSubmit{
        height: 5.375rem;
        width: 25rem;
        margin-left: 10%;
        margin-top: -1.925rem;
    }
    .divForSubmit button{
        margin-top: 0.625rem;
        width: 4rem;
        height: 2rem;
        font-size: 0.7rem;
    }
        .divForSubmit span{
            font-size: 0.8rem;
        }

    .carousel{
        margin: 0.5rem;
        width: 45%;
        height: calc(100% - 0.9rem);
        border-radius: 0.9rem;
    }
    .motive{
        margin-top: 2rem;
        width: 26.4rem;
        height: 10.5rem;
        margin-left: 2.7rem;
    }
            .motop{
                font-size: 1.7rem;
            }
            .motoContinuare {
                margin-top: -2vh;
                font-size: 0.8rem;
            }
                .programmingLanguagesIcons{
                    margin-top: 0.425rem;
                    margin-left: 2.5rem;
                    width: 22.4rem;
                    height: 7.375rem;
                }
                .programmingLanguagesIcons svg{
                    width: 40px;
                    height: 40px;
                }
                .comments{
                    border-radius: 0.9rem;
                    margin: 0 auto;
                    width: 22rem;
                    height: 8rem;
                }
                .personData{
                    width: 24rem;
                    height: 6.25rem;   
                }
                /* Fotografie profil */
                    .personDataPhoto{
                        margin-left: 0.35rem;
                        width: 4rem;
                        height: 4rem;
                    }
                
                    .personDataPhoto img{
                        width: 3rem;
                        height: 3rem;
                    }
                
                
                    .personDataText span:nth-child(1){
                        font-size: 1rem;
                    }
                
                    .personDataText span:nth-child(2){
                        font-size: 0.65rem;
                    }
                
                /* comentariul lu yang */
                
                    .comentariu{
                        margin-left: 1.2rem;
                        width: 19.4rem;
                        height: 4rem;
                    }
                    .comentariu p{
                        padding-top: 0.925rem;
                        padding-left: 0rem;
                        padding-right: 1.2rem;
                        font-size: 0.8rem;
                    }
                
                /* numele care ii deasupra comentariilor */
                
                .siteNameText p{
                    font-size: 1rem;
                    padding-top: 1.25rem;
                    padding-left: 2.7rem;
                }
}
@media (min-width: 768px) and (max-width: 1024px){
    .divPrincipal{
        visibility: hidden;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .divPrincipal{
        visibility: hidden;
    }
}
@media  (max-width: 480px){
        .divPrincipal{
        visibility: hidden;
    }
}



            