body{
    padding: 0;
    margin: 0;
    background-color: black !important;
    animation: slideIn 1s ease-in-out;
}


/* Contine informatii + login/register */
.divPrincipal{
    margin-left: 33vw;
    margin-top: 15vh;
    border-radius: 0.9rem;
    display: flex;
    background-color: #313131;
    width: 66vw;
    height: 75vh;
}
    /* Carusel cu informatii */


    .textSignIn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 15vw;
        height: 10vh;
    }
        .textSignInText{
            color: white;
            font-size: 2.5rem;
            font-family: "Montserrat ExtraBold", sans-serif;
        }

    /* Register/Login Forms */
    .signUpItems{
        margin: 0 auto;
        width: 36.5vw;
        margin-top: 5vh;
        margin-left: 14px;
    }
    .inputsDiv{
        animation: fadeIn 2s ease-in-out;
        margin-top: calc(22vh - 10vh);
        margin-left: 10%;
        justify-content: center;
        gap: 2vh;
        height: 27vh;
        width: 28vw;
        display: flex;
        flex-direction: column;
    }
    .inputsDiv div{
        position: relative;
    }
    .inputsDiv input{
        transition: all 0.5s ease-in-out;
        width: 100%;
    }
    .inputsDiv input:focus {
        outline-color: darkslategrey  !important;
        outline-style: solid;
        outline-width: 0.3rem;
    }
    .inputSVGS{
        animation: fadeIn 1.7s ease-in-out;
        margin-top: calc(22vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        height: 26vh;
        width: 3.5vw;
    }
    .divForSubmit{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        height: 15vh;
        width: 28vw;
        margin-left: 10%;
        margin-top: -1vh;
    }
    .divForSubmit button{
        animation: slideFromBottom 1s ease-in-out;
        margin-top: 1vh;
        width: 6rem;
        height: 3rem;
        background-color: darkslategrey;
        border-color: darkslategrey;
        font-family: "Montserrat ExtraBold", sans-serif;
    }
    .divForSubmit button:hover{
        background-color: rgb(31, 48, 48);
        border-color: rgb(31, 48, 48);
    }
        .divForSubmit span{
            animation: fadeIn 1.7s ease-in-out;
            color:white;
        }
            .divForSubmit span a{
                color: rgb(133, 179, 179);
            }



    @keyframes slideIn { /* Animatie ptr intrarea elementelor in body*/
        from{
            transform: translateX(-200%);
            opacity: 0;
        }to{
            transform: translateX(0%);
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }50% {
            opacity: 0;
        }100%{
            opacity: 1;
        }
    }

    @keyframes slideFromBottom {
        0%{
            transform: translateY(200%);
        }
        50%{
            transform: translateY(200%);
        }
        100%{
            transform: translateY(0%);
        }
    }
    @keyframes slideFromTop {
        0%{
            transform: translateY(-1000%);
        }
        50%{
            transform: translateY(-1000%);
        }
        100%{
            transform:translateY(0%);
        }
    }
    @keyframes slideFromRight {
        0%{
            transform: translateX(1000%);
            opacity: 0;
        }
        50%{
            transform: translateX(1000%);
            opacity: 0;
        }
        100%{
            transform:translateX(0%);
            opacity: 1;
        }
    }
    @keyframes slideFromLeft {
        0%{
            transform: translateX(-1000%);
            opacity: 0;
        }
        50%{
            transform: translateX(-1000%);
            opacity: 0;
        }
        100%{
            transform:translateX(0%);                
            opacity: 1;
            }
    }

/* Added a font */
@font-face {
    font-family: "SuperCorn";
    src: url(/Fonts/Super\ Corn.ttf);
}
@font-face {
    font-family: "Montserrat ExtraBold";
    src: url(/Fonts/Montserrat-ExtraBold.otf);
}
@font-face {
    font-family: "RobotoThin";
    src: url(/Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(/Fonts/Poppins-Thin.otf);
}
@font-face {
    font-family: "StormGust";
    src: url(/Fonts/Storm\ Gust.woff);
}

/* carusel cu informatii */
.carousel{
    margin: 1vh;
    margin-right: 0vh !important;
    width: 29vw;
    height: calc(100% - 2vh);
    background-color:darkslategray;
    border-radius: 0.9rem;
}

/* Carousel buttons - div */
.carouselButtons{
    margin: 0 auto;
    margin-top: 0.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 10vw;
    border-radius: 1rem;
}

.carouselButtons button{
    width: 1rem;
    height: 1rem;
    background-color: rgb(133, 179, 179);
    transform: scale(0.5);
    border-radius: 50%;
    border: none;
}

/* Comentarii */

.comments{
    display: flex;
    flex-direction: column;
    border-radius: 0.9rem;
    margin: 0 auto;
    margin-top: vh;
    background-color:#313131;
    width: 25vw;
    height: 20vh;
}

/* fotografie + nume + ocupatie*/
.personData{
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 10vh;   
    animation: slideFromBottom 1s ease-in-out;
}
/* Fotografie profil */
    .personDataPhoto{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.5rem;
        height: 5.5rem;
    }

    .personDataPhoto img{
        width: 4rem;
        height: 4rem;
    }

/* Nume + ocupatie */
    .personDataText{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .personDataText span:nth-child(1){
        font-size: 1.2rem;
        font-family: "Montserrat";
    }

    .personDataText span:nth-child(2){
        font-size: 0.75rem;
        font-family: 'Open Sans', sans-serif;
    }

/* comentariul lu yang */

    .comentariu{
        display: flex;
        margin-left: 1vw;
        width: 22vw;
        height: 12vh;
        align-items: center;
    }
    .comentariu p{
        color: white;
        padding-top: 1vh;
        padding-left: 0rem;
        padding-right: 1vw;
        font-size: 0.9rem;
        font-family: 'Open Sans', sans-serif;
    }

/* numele care ii deasupra comentariilor */

.siteNameText p{
    font-family: "StormGust";
    font-size: 1rem;
    padding-top: 2vh;
    padding-left: 2.25vw;
    color: rgb(133, 179, 179);
}

/* motive sa iti incepi aventura cu noi*/

.motive{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 22vw;
    height: 20vh;
    margin-left: 2.25vw;
}

    .moto{
        height: 10vh;
        width: 22vw;
    }
        .moto p{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 2rem;
            color: white;
        }
    .motoContinuare{
        height: 10vh;
        width: 22vw;
    }
        .motoContinuare p{
            font-family: 'Open Sans', sans-serif;
            font-size: 0.9rem;
            color: white;
        }
            .programmingLanguagesIcons{
                margin-left: 2vw;
                width: 25vw;
                height: 15vh;
            }
            .webProgrammingLanguagesIcons{
                display: flex;
                justify-content: space-between;
            }
            .otherProgrammingLanguagesIcons{
                display: flex;
                justify-content: space-between;
            }
            .jsIcon, .htmlIcon, .cssIcon{
                animation: slideFromLeft 1.2s ease-in-out;
            }
            .cppIcon, .csIcon, .cIcon{
                animation: slideFromLeft 1.4s ease-in-out;
            }

            .javaIcon, .pythonIcon, .swiftIcon{
                animation: slideFromRight 1.2s ease-in-out;
            }
            .reactIcon, .vueIcon, .bootstrapIcon{
                animation: slideFromRight 1.4s ease-in-out;
            }
            .mongoDBIcon{
                animation: slideFromTop 1s ease-in-out;
            }
            .mySqlIcon{
                animation: slideFromBottom 1s ease-in-out;
            }

            @media (min-width:1320px) and (max-width: 1650px) {
                .personData{
                    margin-top: -2vh;
                }
                .motoContinuare{
                    margin-top: 1vh;
                }
            
                .personDataText span:nth-child(1){
                    font-size: 1.1rem;
                }
                .personDataText span:nth-child(2){
                    font-size: 0.7rem;
                }
                .personDataPhoto img{
                    width: 3.7rem;
                    height: 3.7rem;
                }
                .motoContinuare p{
                    font-size: 0.8rem;
                }
                .divForSubmit{
                    margin-top: 0vh;
                }
                .divForSubmit button{
                    font-size: 0.8rem;
                    width: 5rem;
                    height: 3rem;
                }
                .divForSubmit span{
                    font-size: 0.8rem;
                }
                .programmingLanguagesIcons svg{
                    width: 40px;
                    height: 40px;
                }
                .inputSVGS svg{
                    width: 40px;
                    height: 40px;
                    margin-left: -0.3rem;
                }
            }

            @media (min-width:1200px) and (max-width: 1319px) {
                .personData{
                    margin-top: -2vh;
                }
                .motoContinuare{
                    margin-top: 1vh;
                }
            
                .personDataText span:nth-child(1){
                    font-size: 1.1rem;
                }
                .personDataText span:nth-child(2){
                    font-size: 0.7rem;
                }
                .personDataPhoto img{
                    width: 3.7rem;
                    height: 3.7rem;
                }
                .motoContinuare p{
                    font-size: 0.8rem;
                }
                .divForSubmit{
                    margin-top: 0vh;
                }
                .divForSubmit button{
                    font-size: 0.8rem;
                    width: 5rem;
                    height: 3rem;
                }
                .divForSubmit span{
                    font-size: 0.8rem;
                }
                .programmingLanguagesIcons svg{
                    width: 35px;
                    height: 35px;
                }
                .inputSVGS svg{
                    margin-left: -0.5rem;
                    width: 35px;
                    height: 35px;
                }
                .motoContinuare p{
                    margin-top: -0.7rem;
                    font-size: 0.735rem;
                }
                .moto p{
                    font-size: 1.7rem;
                }
                #mesaj{
                    font-size: 0.8rem;
                }
                .textSignInText{
                    font-size: 2rem;
                }
            }
    





