@keyframes slidein {
    from{
        opacity:0;
        margin-bottom: 100px;
    }
    to{
        opacity: 1;
    }
  }

@keyframes slideout {
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }


}
@keyframes slidefromtopDropDown {
    from{
        transform: translateY(500%);
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes slidefrombottomDropDown {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-200%);
    }
}

.MyNavbar{
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #313131;
    display: flex;
    background-color: darkslategrey;
    height: 3.3rem;
    width: 100rem;
    align-items: center;
    justify-content: space-between;
}
.otherNavbarElements{
    justify-content: center;
    display: flex;
    width:70rem;
    align-items: center;
    height: 3.3rem;
    gap: 3rem;
}
.dropdownHead a{
    color: white;
    margin: 0 auto;
    font-size: 1.2rem;
}
.otherNavbarElements .dropdownHead:hover{
    border-bottom: rgb(8, 211, 8) solid 3px;
}
.dropdownHead a:hover{
    color: rgb(133, 179, 179);
}
.dropdownHead{
    margin-top: 0.7rem;
    position: relative;
    display: inline-block;
    height: 2.5rem;
}
.dropdownContent{
    margin-left: -1.8rem;
    display: block;
    position: absolute;
    z-index: 1;
    min-width: 120px;
    color: white;
    visibility: hidden;
    cursor: pointer;
    transition: all 0.3s;
    animation: slideout 0.3s;
}


.dropdownHead:hover .dropdownContent{
    display: block;
    visibility: visible;
    animation: slidein 0.5s;
    animation: slidefromtopDropDown 0.3s; 
}
.dropdownContent ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdownContent li {
    margin-bottom: 0.4rem;
    background-color: #313131;
    font-family: andale mono, monospace;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid grey;
}
.dropdownContent li:nth-child(1){
    margin-top: 1rem;
}

.dropdownContent li:hover{
    background-color: #222121;
    border-bottom: 2px solid rgb(8, 211, 8);
}
.dropdownHead svg{
    margin-left: 5px;
    position: absolute;
    margin-top: 0.55rem;
    cursor: pointer;
}


/* second drop down */
.secondDropdownContent{
    visibility: hidden;
    position: absolute;
    margin-left:6.5rem;
    z-index: 1;
    cursor: pointer;
}

.secondDropdownContent ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.secondDropdownContent li {
    margin-bottom: 0.4rem;
    background-color: #313131;
    font-family: andale mono, monospace;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid grey;
}
.secondDropdownContent li:nth-child(1){
    margin-top: -3rem;
}

.secondDropdownContent li:hover{
    background-color: #222121;
    border-bottom: 2px solid rgb(8, 211, 8);
}

@media (min-width: 1451px) and (max-width: 1780px){
    .MyNavbar{
        margin-top: 1rem;
        border-radius: 5px;
        border-width: 3px;
        height: 3rem;
        width: 80.5rem;
    }

    .otherNavbarElements{
        width:70rem;
        height: 3.3rem;
        gap: 3rem;
    }
    .dropdownHead a{
        font-size: 1rem;
    }
    .otherNavbarElements .dropdownHead:hover{
        border-bottom: rgb(8, 211, 8) solid 3px;
    }
    .dropdownHead a:hover{
        color: rgb(133, 179, 179);
    }
    .dropdownHead{
        margin-top: 0.7rem;
        height: 2.3rem;
    }
    .dropdownContent{
        margin-left: -2rem;
        min-width: 120px;
    }

    
    .dropdownContent li {
        font-size: 0.9rem;
        margin-bottom: 0.4rem;
        padding: 8px;
        border-bottom: 2px solid grey;
    }
    .dropdownContent li:nth-child(1){
        margin-top: 1rem;
    }
    
    .dropdownContent li:hover{
        border-bottom: 2px solid rgb(8, 211, 8);
    }
    .dropdownHead svg{
        margin-left: 5px;
        margin-top: 0.55rem;
    }
    
    
    /* second drop down */
    .secondDropdownContent{
        margin-left:6.5rem;
    }
    
    .secondDropdownContent li {
        margin-bottom: 0.4rem;
        padding: 9px;
        border-bottom: 2px solid grey;
    }
    .secondDropdownContent li:nth-child(1){
        margin-top: -3rem;
    }
    
    .secondDropdownContent li:hover{
        border-bottom: 2px solid rgb(8, 211, 8);
    }
}

@media (min-width: 1281px) and (max-width: 1450px){
    .MyNavbar{
        margin-top: 0.5rem;
        border-radius: 5px;
        border-width: 3px;
        height: 2.7rem;
        width: 70rem;
    }

    .otherNavbarElements{
        width:50rem;
        height: 3rem;
        gap: 2rem;
    }
    .dropdownHead a{
        font-size: 0.9rem;
    }
    .otherNavbarElements .dropdownHead:hover{
        border-bottom: rgb(8, 211, 8) solid 3px;
    }
    .dropdownHead a:hover{
        color: rgb(133, 179, 179);
    }
    .dropdownHead{
        margin-top: 0.4rem;
        height: 2rem;
    }
    .dropdownContent{
        margin-left: -1.3rem;
        min-width: 90px;
    }

    
    .dropdownContent li {
        font-size: 0.7rem;
        margin-bottom: 0.2rem;
        padding: 5px;
        border-bottom: 1px solid grey;
    }
    .dropdownContent li:nth-child(1){
        margin-top: 1rem;
    }
    
    .dropdownContent li:hover{
        border-bottom: 1px solid rgb(8, 211, 8);
    }
    .dropdownHead svg{
        margin-left: 5px;
        margin-top: 0.55rem;
    }
    
    
    /* second drop down */
    .secondDropdownContent{
        margin-left:5rem;
    }
    
    .secondDropdownContent li {
        font-size: 0.6rem;
        margin-bottom: 0.2rem;
        padding: 5px;
        border-bottom: 1px solid grey;
    }
    .secondDropdownContent li:nth-child(1){
        margin-top: -2.3rem;
    }
    
    .secondDropdownContent li:hover{
        border-bottom: 1px solid rgb(8, 211, 8);
    }
}
 @media (min-width: 1025px) and (max-width: 1280px){
    .MyNavbar{
        margin-top: 0.5rem;
        border-radius: 5px;
        border-width: 3px;
        height: 2.3rem;
        width: 57rem;
    }

    .otherNavbarElements{
        width:40rem;
        height: 2.5rem;
        gap: 2rem;
    }
    .dropdownHead a{
        font-size: 0.7rem;
    }
    .otherNavbarElements .dropdownHead:hover{
        border-bottom: rgb(8, 211, 8) solid 3px;
    }
    .dropdownHead a:hover{
        color: rgb(133, 179, 179);
    }
    .dropdownHead{
        margin-top: 0.3rem;
        height: 2rem;
    }
    .dropdownContent{
        margin-left: -1.1rem;
        min-width: 60px;
    }

    
    .dropdownContent li {
        font-size: 0.6rem;
        margin-bottom: 0.2rem;
        padding: 5px;
        border-bottom: 1px solid grey;
    }
    .dropdownContent li:nth-child(1){
        margin-top: 0.7rem;
    }
    
    .dropdownContent li:hover{
        border-bottom: 1px solid rgb(8, 211, 8);
    }
    .dropdownHead svg{
        margin-left: 5px;
        margin-top: 0.55rem;
    }
    
    
    /* second drop down */
    .secondDropdownContent{
        margin-left:4rem;
    }
    
    .secondDropdownContent li {
        font-size: 0.5rem;
        margin-bottom: 0.2rem;
        padding: 5px;
        border-bottom: 1px solid grey;
    }
    .secondDropdownContent li:nth-child(1){
        margin-top: -2rem;
    }
    
    .secondDropdownContent li:hover{
        border-bottom: 1px solid rgb(8, 211, 8);
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .MyNavbar{
        display: none;
    }
    .ascuns{
        display: flex;
    }
    .phone_dropDownNavbarDiv{
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: black;
        margin-left: auto;
    }

    .svgTreiBari{
        display: block;
    }
    .MyNavbar{
        flex-direction: column;
    }
    .otherNavbarElements{
        flex-direction: column;
    }
    .MyNavbar{
        margin-right: 0;
        margin-top: 0rem;
        border-radius: 0px;
        border-width: 0px;
        border-style: solid;
        border-color: #313131;
        background-color: darkslategrey;
        height: 10rem;
        width: 5rem;
        align-items: center;
        justify-content: space-between;
    }
    .otherNavbarElements{
        justify-content: center;
        display: flex;
        width:5rem;
        align-items: center;
        height: 10rem;
        gap: 0.5rem;
    }

    .dropdownHead a{
        color: white;
        margin: 0 auto;
        font-size: 0.5rem;
    }
    .otherNavbarElements .dropdownHead:hover{
        border-bottom: rgb(8, 211, 8) solid 3px;
    }
    .dropdownHead a:hover{
        color: rgb(133, 179, 179);
    }
    .dropdownHead{
        margin-top: 0rem;
        position: relative;
        display: inline-block;
        height: 1rem;
    }
}
@media (min-width: 481px) and (max-width: 767px){

}
@media  (max-width: 480px){

}

