@keyframes slidein {
    from{
        opacity:0;
        margin-bottom: 100px;
    }
    to{
        opacity: 1;
    }
  }

@keyframes slideout {
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }


}
@keyframes slidefromtopDropDown {
    from{
        transform: translateY(500%);
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes slidefrombottomDropDown {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-200%);
    }
}

.MyNavbar{
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #313131;
    display: flex;
    background-color: darkslategrey;
    height: 3.3rem;
    width: 100rem;
    align-items: center;
    justify-content: space-between;
}
.otherNavbarElements{
    justify-content: center;
    display: flex;
    width:70rem;
    align-items: center;
    height: 3.3rem;
    gap: 3rem;
}
.dropdownHead a{
    color: white;
    margin: 0 auto;
    font-size: 1.2rem;
}
.otherNavbarElements .dropdownHead:hover{
    border-bottom: rgb(8, 211, 8) solid 3px;
}
.dropdownHead a:hover{
    color: rgb(133, 179, 179);
}
.dropdownHead{
    margin-top: 0.7rem;
    position: relative;
    display: inline-block;
    height: 2.5rem;
}
.dropdownContent{
    margin-left: -1.8rem;
    display: block;
    position: absolute;
    z-index: 1;
    min-width: 120px;
    color: white;
    visibility: hidden;
    cursor: pointer;
    transition: all 0.5s;
    animation: slideout 0.5s;
}

.dropdownHead:hover .dropdownContent{
    display: block;
    visibility: visible;
    animation: slidein 0.7s;
    animation: slidefromtopDropDown 0.5s; 
}
.dropdownContent ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdownContent li {
    margin-bottom: 0.4rem;
    background-color: #313131;
    font-family: andale mono, monospace;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid grey;
}
.dropdownContent li:nth-child(1){
    margin-top: 1rem;
}

.dropdownContent li:hover{
    background-color: #222121;
    border-bottom: 2px solid rgb(8, 211, 8);
}
.dropdownHead svg{
    margin-left: 5px;
    position: absolute;
    margin-top: 0.55rem;
    cursor: pointer;
}
