@keyframes slidein {
    from{
        opacity:0;
        margin-bottom: 100px;
    }
    to{
        opacity: 1;
    }
  }

@keyframes slideout {
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }


}
@keyframes slidefromtopDropDown {
    from{
        transform: translateY(250%);
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes slidefrombottomDropDown {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-200%);
    }
}

.MyNavbar{
    border:none !important;
    margin: 0 auto;
    border-style: solid;
    border-color: #313131;
    display: flex;
    background-color: #222222 ;
    height: 3.3rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.otherNavbarElements{
    justify-content: center;
    display: flex;
    width:70rem;
    align-items: center;
    height: 3.3rem;
    gap: 3rem;
}
.phone_NavBar{
    display: none;
}
.dropdownHead a{
    color: white;
    margin: 0 auto;
    font-size: 1.2rem;
}

.dropdownHead a:hover{
    color: rgb(255, 255, 255);
}


.dropdownHead {
    margin-top: 0.8rem;
    position: relative;
    display: inline-block;
    height: 2.5rem;
}

.dropdownHead::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px; /* Set the border height */
    background-color: rgb(255, 255, 255);
    transition: width 0.4s ease; /* Adjust the animation speed if needed */
}

.dropdownHead:hover::before {
    width: 100%;
}

.dropdownHead a {
    color: white;
    margin: 0 auto;
    font-size: 1.2rem;
}

.otherNavbarElements .dropdownHead:hover {
    border-bottom: none; /* Remove the bottom border */
}
.dropdownContent{
    margin-left: -1.8rem;
    display: block;
    position: absolute;
    z-index: 1;
    min-width: 120px;
    color: white;
    visibility: hidden;
    cursor: pointer;
    animation: slideout 0.3s;
    transition: animation 0.3s ease;
    z-index: 100;
}


.dropdownHead:hover .dropdownContent{
    display: block;
    visibility: visible;
    animation: slidein 0.5s;
    animation: slidefromtopDropDown 0.3s; 
}
.dropdownContent ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdownContent li {
    margin-bottom: 0.4rem;
    background-color: #313131;
    font-family: 'andale mono', monospace;
    padding: 10px;
    text-align: center;
    position: relative;
}

.dropdownContent li:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white; /* Set the color of the bottom border */
    transition: all 0.3s;
}

.dropdownContent li:hover:before {
    width: 100%;
    left: 0;
}

.dropdownContent li:nth-child(1){
    margin-top: 1rem;
}

.dropdownContent li:hover{
    background-color: #222121;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.dropdownHead svg{
    margin-left: 5px;
    position: absolute;
    margin-top: 0.55rem;
    cursor: pointer;
}


/* second drop down */
.secondDropdownContent{
    visibility: hidden;
    position: absolute;
    margin-left:6.5rem;
    z-index: 1;
    cursor: pointer;
}

.secondDropdownContent ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.secondDropdownContent li {
    margin-bottom: 0.4rem;
    background-color: #313131;
    font-family: andale mono, monospace;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid grey;
}
.secondDropdownContent li:nth-child(1){
    margin-top: -3rem;
}

.secondDropdownContent li:hover{
    background-color: #222121;
    border-bottom: 2px solid rgb(0, 0, 0);
}

@media (min-width: 1451px) and (max-width: 1780px){
    .MyNavbar{
        border-radius: 5px;
        border-width: 3px;
        height: 3rem;
    }

    .otherNavbarElements{
        width:70rem;
        height: 3.3rem;
        gap: 3rem;
    }
    .dropdownHead a{
        font-size: 1rem;
    }


    .dropdownHead{
        margin-top: 0.7rem;
        height: 2.3rem;
    }
    .dropdownContent{
        margin-left: -2rem;
        min-width: 120px;
    }

    
    .dropdownContent li {
        font-size: 0.9rem;
        margin-bottom: 0.4rem;
        padding: 8px;
        border-bottom: 2px solid grey;
    }
    .dropdownContent li:nth-child(1){
        margin-top: 1rem;
    }
    
    .dropdownContent li:hover{
        border-bottom: 2px solid rgb(0, 0, 0);
    }
    .dropdownHead svg{
        margin-left: 5px;
        margin-top: 0.55rem;
    }
    
    
    /* second drop down */
    .secondDropdownContent{
        margin-left:6.5rem;
    }
    
    .secondDropdownContent li {
        margin-bottom: 0.4rem;
        padding: 9px;
        border-bottom: 2px solid grey;
    }
    .secondDropdownContent li:nth-child(1){
        margin-top: -3rem;
    }
    
    .secondDropdownContent li:hover{
        border-bottom: 2px solid rgb(0, 0, 0);
    }
    .dropdownHead:last-child{
        width: 4rem;
    }
}

@media (min-width: 1281px) and (max-width: 1450px){
    .MyNavbar{
        border-radius: 5px;
        border-width: 3px;
        height: 2.7rem;
    }

    .otherNavbarElements{
        width:50rem;
        height: 3rem;
        gap: 2rem;
    }
    .dropdownHead a{
        font-size: 0.9rem;
    }


    .dropdownHead{
        margin-top: 0.4rem;
        height: 2rem;
    }
    .dropdownContent{
        margin-left: -1.3rem;
        min-width: 90px;
    }

    
    .dropdownContent li {
        font-size: 0.7rem;
        margin-bottom: 0.2rem;
        padding: 5px;
        border-bottom: 1px solid grey;
    }
    .dropdownContent li:nth-child(1){
        margin-top: 1rem;
    }
    
    .dropdownHead svg{
        margin-left: 5px;
        margin-top: 0.55rem;
    }
    
    
    /* second drop down */
    .secondDropdownContent{
        margin-left:5rem;
    }
    
    .secondDropdownContent li {
        font-size: 0.6rem;
        margin-bottom: 0.2rem;
        padding: 5px;
        border-bottom: 1px solid grey;
    }
    .secondDropdownContent li:nth-child(1){
        margin-top: -2.3rem;
    }
    
}
 @media (min-width: 1025px) and (max-width: 1280px){
    .MyNavbar{
        border-radius: 5px;
        border-width: 3px;
        height: 2.3rem;
    }

    .otherNavbarElements{
        width:40rem;
        height: 2.5rem;
        gap: 2rem;
    }
    .dropdownHead a{
        font-size: 0.7rem;
    }


    .dropdownHead{
        margin-top: 0.3rem;
        height: 2rem;
    }
    .dropdownContent{
        margin-left: -1.1rem;
        min-width: 60px;
    }

    
    .dropdownContent li {
        font-size: 0.6rem;
        margin-bottom: 0.2rem;
        padding: 5px;
        border-bottom: 1px solid grey;
    }
    .dropdownContent li:nth-child(1){
        margin-top: 0.7rem;
    }
    

    .dropdownHead svg{
        margin-left: 5px;
        margin-top: 0.55rem;
    }
    
    
    /* second drop down */
    .secondDropdownContent{
        margin-left:4rem;
    }
    
    .secondDropdownContent li {
        font-size: 0.5rem;
        margin-bottom: 0.2rem;
        padding: 5px;
        border-bottom: 1px solid grey;
    }
    .secondDropdownContent li:nth-child(1){
        margin-top: -2rem;
    }
    

}



@media (min-height: 1px) and (max-height: 585px){
    .phone_NavBar{
        min-height: 585px !important;
    }
}





@media (min-width: 768px) and (max-width: 1024px){

    .lines{
        display: none;
    }
    .contineNavBar{
        margin-left: auto;
        width: 14rem;
    }
    .phone_NavBar{
        display: none;
    }
    .ascuns{
        display: flex;
    }
    .marireLungime{
        margin-top: 0rem !important;
        margin-right: 0rem !important;
        width: 14rem !important;
    }
    .marireHeightWidth{
        height: 3rem !important;
        width: 14rem !important;
    }
    .phone_divSVG{
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: black;
        margin-left: auto;
    }

    .svgTreiBari{
        display: block;
    }
    .phone_NavBar{
        flex-direction: column;
    }
    .phone_dropDownNavbarDiv{
        animation: slidefromtopDropDown 0.3s ease-in-out;
    }
    .phone_NavBar{
        margin-left: auto;
        margin-top: 0rem;
        border-radius: 0px;
        border-width: 0px;
        border-style: solid;
        border-color: #313131;
        background-color: black;
        min-height: 100vh;
        width: 14rem;
        align-items: stretch;
        justify-content: flex-start;
        gap:2rem;
    }
    .phone_dropDownHead:nth-child(1){
        margin-top: 0.7rem !important;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 14rem;
        height: 3.7rem;
        border-bottom: rgb(11, 88, 211) solid 1px;
    }
    .phone_dropDownHead{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 14rem;
        height: 2.2rem;
        font-size: 1.8rem;
    }
    .phone_dropDownHead a{
        color: white;
    }
    .phone_dropDownHead:hover{
        border-right: rgb(11, 88, 211) solid 3px !important;
    }
    .phone_dropDownHead:hover a{
    color: rgb(11, 88, 211) !important;
    }
    .otherNavbarElements{
        display: none;
    }
    .MyNavbar{
        display: none;
    }
    .dropdownHead{
        display: none;
    }

    body{
        overflow-x: auto;
        overflow-y: auto;
    }

    .phone_dropdownContent{
        margin-top: -3rem;
        margin-left: -16rem;
        display: block;
        position: absolute;
        z-index: 1;
        min-width: 120px;
        color: white;
        visibility: hidden;
        cursor: pointer;
        transition: all 0.3s;
        animation: slideout 0.3s;
    }
    
    
    .phone_dropDownHead:hover .phone_dropdownContent{
        display: block;
        visibility: visible;
        animation: slidein 0.5s;
        animation: slidefromtopDropDown 0.3s; 
    }
    .phone_dropdownContent ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .phone_dropdownContent li {
        margin-bottom: 0.4rem;
        background-color: black;
        font-family: andale mono, monospace;
        padding: 10px;
        text-align: center;
        border-bottom: 2px solid grey;
    }
    .phone_dropdownContent li:nth-child(1){
        margin-top: 1rem;
    }
    
    .phone_dropdownContent li:hover{
        background-color: rgb(27, 24, 24);
        border-bottom: 2px solid rgb(11, 88, 211);
    }    
    
    /* second drop down */
    .phone_secondDropdownContent{
        visibility: hidden;
        position: absolute;
        margin-left:-8.8rem;
        z-index: 1;
        cursor: pointer;
    }
    
    .phone_secondDropdownContent ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    
    .phone_secondDropdownContent li {
        margin-bottom: 0.4rem;
        background-color: black;
        font-family: andale mono, monospace;
        padding: 10px;
        text-align: center;
        border-bottom: 2px solid grey;
        border-right: 2px solid grey;
    }
    .phone_secondDropdownContent li:nth-child(1){
        margin-top: -5rem;
    }
    
    .phone_secondDropdownContent li:hover{
        background-color: #222121;
        border-bottom: 2px solid rgb(11, 88, 211);
        border-right: 2px solid rgb(11, 88, 211);
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .lines{
        display: none;
    }
    .contineNavBar{
        margin-left: auto;
        width: 11rem;
    }
    .phone_NavBar{
        display: none;
    }
    .ascuns{
        display: flex;
    }
    .marireLungime{
        margin-top: 0rem !important;
        margin-right: 0rem !important;
        width: 11rem !important;
    }
    .marireHeightWidth{
        height: 3rem !important;
        width: 11rem !important;
    }
    .phone_divSVG{
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        width: 3rem;
        height: 3rem;
        background-color: black;
        margin-left: auto;
    }

    .svgTreiBari{
        display: block;
    }
    .phone_NavBar{
        flex-direction: column;
    }
    .phone_dropDownNavbarDiv{
        animation: slidefromtopDropDown 0.3s ease-in-out;
    }
    .phone_NavBar{
        margin-left: auto;
        margin-top: 0rem;
        border-radius: 0px;
        border-width: 0px;
        border-style: solid;
        border-color: #313131;
        background-color: black;
        min-height: 100vh;
        width: 11rem;
        align-items: stretch;
        justify-content: flex-start;
        gap:2rem;
        }
    .phone_dropDownHead:nth-child(1){
        margin-top: 0.7rem !important;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 11rem;
        height: 3.7rem;
        border-bottom: rgb(11, 88, 211) solid 1px;
    }

    .phone_dropDownHead:nth-child(3), .phone_dropDownHead:nth-child(4){
        margin-left: -7rem !important;
    }
    .phone_dropDownHead:nth-child(3) a, .phone_dropDownHead:nth-child(4) a{
        margin-left: 6rem !important;
    }
    .phone_dropDownHead{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 11rem;
        height: 2.2rem;
        font-size: 1.3rem;
    }
    .phone_dropDownHead a{
        color: white;
    }
    .phone_dropDownHead:hover{
        border-right: rgb(11, 88, 211) solid 3px !important;
    }
    .phone_dropDownHead:hover a{
    color: rgb(11, 88, 211) !important;
    }
    .otherNavbarElements{
        display: none;
    }
    .MyNavbar{
        display: none;
    }
    .dropdownHead{
        display: none;
    }

    body{
        overflow: auto;
    }

    .phone_dropdownContent{
        margin-top: -3rem;
        margin-left: -9.7rem;
        display: block;
        position: absolute;
        z-index: 1;
        min-width: 80px;
        color: white;
        visibility: hidden;
        cursor: pointer;
        transition: all 0.3s;
        animation: slideout 0.3s;
    }
    
    
    .phone_dropDownHead:hover .phone_dropdownContent{
        display: block;
        visibility: visible;
        animation: slidein 0.5s;
        animation: slidefromtopDropDown 0.3s; 
    }
    .phone_dropdownContent ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .phone_dropdownContent li {
        margin-bottom: 0.4rem;
        background-color: black;
        font-family: andale mono, monospace;
        padding: 8px;
        text-align: center;
        border-bottom: 2px solid grey;
        font-size: 1rem;
    }
    .phone_dropdownContent li:nth-child(1){
        margin-top: 1rem;
    }
    
    .phone_dropdownContent li:hover{
        background-color: rgb(27, 24, 24);
        border-bottom: 2px solid rgb(11, 88, 211);
    }    
    
    /* second drop down */
    .phone_secondDropdownContent{
        visibility: hidden;
        position: absolute;
        margin-left:-4.6rem;
        z-index: 1;
        cursor: pointer;
    }
    
    .phone_secondDropdownContent ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    
    .phone_secondDropdownContent li {
        margin-bottom: 0.3rem;
        background-color: black;
        font-family: andale mono, monospace;
        padding: 10px;
        text-align: center;
        font-size: 0.7rem;
        border-bottom: 2px solid grey;
        border-right: 2px solid grey;
    }
    .phone_secondDropdownContent li:nth-child(1){
        margin-top: -3.5rem;
    }
    
    .phone_secondDropdownContent li:hover{
        background-color: #222121;
        border-bottom: 2px solid rgb(11, 88, 211);
        border-right: 2px solid rgb(11, 88, 211);
    }
}
@media  (max-width: 480px){
    .lines{
        display: none;
    }
    .contineNavBar{
        margin-left: auto;
        width: 8rem;
    }
    .phone_NavBar{
        display: none;
    }
    .ascuns{
        display: flex;
    }
    .marireLungime{
        margin-top: 0rem !important;
        margin-right: 0rem !important;
        width: 8rem !important;
    }
    .marireHeightWidth{
        height: 3rem !important;
        width: 8rem !important;
    }
    .phone_divSVG{
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        background-color: black;
        margin-left: auto;
    }

    .svgTreiBari{
        display: block;
    }
    .phone_NavBar{
        flex-direction: column;
    }
    .phone_dropDownNavbarDiv{
        animation: slidefromtopDropDown 0.3s ease-in-out;
    }
    .phone_NavBar{
        margin-left: auto;
        margin-top: 0rem;
        border-radius: 0px;
        border-width: 0px;
        border-style: solid;
        border-color: #313131;
        background-color: black;
        min-height: 100vh;
        width: 8rem;
        align-items: stretch;
        justify-content: flex-start;
        gap:2rem;
        }
    .phone_dropDownHead:nth-child(1){
        margin-top: 0.7rem !important;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 8rem;
        height: 3.7rem;
        border-bottom: rgb(11, 88, 211) solid 1px;
    }

    .phone_dropDownHead:nth-child(3), .phone_dropDownHead:nth-child(4){
        margin-left: -10rem !important;
    }
    .phone_dropDownHead:nth-child(3) a{
        margin-left: 9.5rem !important;
    }
    .phone_dropDownHead:nth-child(4) a{
        margin-left: 9rem !important;
    }
    .phone_dropDownHead:nth-child(6) a, .phone_dropDownHead:nth-child(7) a{
        margin-left: -0.5rem !important;
    }
    .phone_dropDownHead{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 8rem;
        height: 2.2rem;
        font-size: 1rem;
    }
    .phone_dropDownHead a{
        color: white;
    }
    .phone_dropDownHead:hover{
        border-right: rgb(11, 88, 211) solid 3px !important;
    }
    .phone_dropDownHead:hover a{
    color: rgb(11, 88, 211) !important;
    }
    .otherNavbarElements{
        display: none;
    }
    .MyNavbar{
        display: none;
    }
    .dropdownHead{
        display: none;
    }

    body{
        overflow: auto;
    }

    .phone_dropdownContent{
        margin-top: -3rem;
        margin-left: -7.6rem;
        display: block;
        position: absolute;
        z-index: 1;
        min-width: 80px;
        color: white;
        visibility: hidden;
        cursor: pointer;
        transition: all 0.3s;
        animation: slideout 0.3s;
    }
    
    
    .phone_dropDownHead:hover .phone_dropdownContent{
        display: block;
        visibility: visible;
        animation: slidein 0.5s;
        animation: slidefromtopDropDown 0.3s; 
    }
    .phone_dropdownContent ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .phone_dropdownContent li {
        margin-bottom: 0.3rem;
        background-color: black;
        font-family: andale mono, monospace;
        padding: 8px;
        text-align: center;
        border-bottom: 2px solid grey;
        font-size: 0.8rem;
    }
    .phone_dropdownContent li:nth-child(1){
        margin-top: 1rem;
    }
    
    .phone_dropdownContent li:hover{
        background-color: rgb(27, 24, 24);
        border-bottom: 2px solid rgb(11, 88, 211);
    }    
    
    /* second drop down */
    .phone_secondDropdownContent{
        visibility: hidden;
        position: absolute;
        margin-left:-4.25rem;
        z-index: 1;
        cursor: pointer;
    }
    
    .phone_secondDropdownContent ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    
    .phone_secondDropdownContent li {
        margin-bottom: 0.2rem;
        background-color: black;
        font-family: andale mono, monospace;
        padding: 10px;
        text-align: center;
        font-size: 0.6rem;
        border-bottom: 2px solid grey;
        border-right: 2px solid grey;
    }
    .phone_secondDropdownContent li:nth-child(1){
        margin-top: -2.9rem;
    }
    
    .phone_secondDropdownContent li:hover{
        background-color: #222121;
        border-bottom: 2px solid rgb(11, 88, 211);
        border-right: 2px solid rgb(11, 88, 211);
    }
}




